<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Main Menu -->
    <menuitem id="menu_label_quotation_main" 
              name="Label Quotation" 
              sequence="15"/>

    <!-- Label Materials Menu -->
    <menuitem id="menu_label_materials" 
              name="Label Materials" 
              parent="menu_label_quotation_main" 
              action="action_label_materials" 
              sequence="10"/>

    <!-- Label Machines Menu -->
    <menuitem id="menu_label_machines" 
              name="Label Machines" 
              parent="menu_label_quotation_main" 
              action="action_label_machines" 
              sequence="20"/>

    <!-- Label Dies Menu -->
    <menuitem id="menu_label_dies" 
              name="Label Dies" 
              parent="menu_label_quotation_main" 
              action="action_label_dies" 
              sequence="30"/>
</odoo>